{% extends "base.twig" %}

{% block content %}

    <div class="a-la-une-wrapper home-container" id="content-home">
        <div class="content-text pb-1">
            <div class="wp-home-text">
                {{ homePageModel.paragrapheIntroduction }}
            </div>
        </div>

        {% if aLaUneModel is not empty %}
            <div class="a-la-une">
                <h3 class="part-title text-center mb-5">{{ appStrings[currentLang].home.aLaUne }}</h3>
                <div class="container carousel-container">
                    <div class="row">
                        <div id="a-la-une-left-arrow" class="col-2 col-xl-1 arrow-div"><div class="left-arrow"></div></div>
                        <div class="col-8 col-xl-10">
                            <div class="loading-placeholder">
                                <img src="{{ assets.imageUrl('loading-placeholder.svg') }}">
                                <img src="{{ assets.imageUrl('loading-placeholder.svg') }}">
                                <img src="{{ assets.imageUrl('loading-placeholder.svg') }}">
                            </div>
                            <div class="owl-carousel-a-la-une owl-carousel owl-theme">
                                {% for i in 0..aLaUneModel|length-1 %}
                                    {% set carteALaUne = aLaUneModel[i] %}
                                    <a class="item" href="{{ carteALaUne.url }}">
	                                    <div class="carte-notice">
	                                        {% if carteALaUne.title is empty and carteALaUne.description is empty %}
	                                            <img class="carte-notice-image-full lazy" data-src="{{ carteALaUne.imageUrl }}" />
	                                            <div class="carte-notice-texte"></div>
	                                            <div class="carte-a-la-une-footer">
	                                                <div class="a-la-une-liens-footer">
	                                                    <span>Lire la suite <i class="fas fa-angle-right"></i></span>
	                                                </div>
	                                            </div>
	                                        {% else %}
	                                            <img class="carte-notice-image" src="{{ carteALaUne.imageUrl }}" />
	                                            <div class="carte-notice-texte">
	                                                <h5>{{ carteALaUne.title }}</h5>
	                                                <div class="carte-notice-description">
	                                                    {{ carteALaUne.description }}
	                                                </div>
	                                            </div>
	                                            <div class="carte-a-la-une-footer">
	                                                <div class="a-la-une-liens-footer">
	                                                    <span>{{ appStrings[currentLang].home.lireSuite }} <i class="fas fa-angle-right"></i></span>
	                                                </div>
	                                            </div>
	                                        {% endif %}
	                                    </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="a-la-une-right-arrow" class="col-2 col-xl-1 arrow-div"><div class="right-arrow"></div></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if listeZoomSur is defined and listeZoomSur is not null %}
        <div class="zoom-sur-wrapper home-container">
            <div class="zoom-sur">
                <div class="container carousel-container">
                    <div class="row">
                        <div class="col-md-2">
                            <h3>{{ appStrings[currentLang].home.zoomSur }}</h3>
                            <h2>{{ appStrings[currentLang].home.selectionRessource }}</h2>
                        </div>
                        <div class="col-md-10 zoom-sur-carousel-wrapper">
                            <div id="zoom-sur-carousel">
                                <div class="loading-placeholder-zoom-sur">
                                    <img src="{{ assets.imageUrl('loading-placeholder.svg') }}">
                                    <img src="{{ assets.imageUrl('loading-placeholder.svg') }}">
                                    <img src="{{ assets.imageUrl('loading-placeholder.svg') }}">
                                </div>
                                <div id="carouselZoomSur" class="owl-carousel owl-theme">
                                    {% for zoomSurItem in listeZoomSur.notices %}
                                        {% if zoomSurItem.displayInIframe == 1 or zoomSurItem.ressourceType == 'html' %}
                                            {% set urlRessource = site.link~"/ressource?uuid="~notice.uuid %}
                                        {% elseif zoomSurItem.ressourceType == 'url' or zoomSurItem.ressourceType == 'file' %}
                                            {% set urlRessource = zoomSurItem.ressource %}
                                        {% else %}
                                            {% set urlRessource = "#" %}
                                        {% endif %}
                                        <div class="item carte-zoom-sur">
                                            {% if zoomSurItem.image %}
                                                <a href="{{ urlRessource }}"           
                                                    up-follow 
                                                    up-target=".content">
                                                    <img class="carte-zoom-sur-image lazy" data-src="{{ zoomSurItem.image }}" />
                                                </a>
                                            {% endif %}
                                            <div class="carte-zoom-sur-titre">
                                                <a href="{{ urlRessource }}"
                                                    up-follow 
                                                    up-target=".content">
                                                    {{ zoomSurItem.titre|slice(0, 50) }}
                                                </a>
                                            </div>
                                            <div class="carte-zoom-sur-description"> {{ zoomSurItem.description }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container-fluid fat-container home-container mb-0">
        <div class="container">
            <div class="content-text fat-text">
                {{ homePageModel.content }}
            </div>
        </div>
    </div>

    {% if projects_children %}
        <div class="container-fluid fat-container container-white home-container pt-150">
            <div class="container">
                <div class="row">
                    <div class="projects-spread col-sm-12 col-lg-6 order-2 order-sm-2 order-lg-1 mt-4 mt-lg-4">
                        {% for child in projects_children %}
                            <div class="card">
                                <a class="projects-spread-link" 
                                    href="{{ child.link }}"
                                    up-follow 
                                    up-target=".content">
                                    <img data-src="{{ child.topImage.src|letterbox(400, 250, '#FFFFFF') }}" class="card-img-top pl-2 pr-2 lazy" alt="{{ child.title }}">
                                    <div class="card-body">
                                        {% if child.resume %} <p class="small">{{ child.resume }}</p> {% endif %}
                                        <p class="card-text">
                                            <a href="{{ child.link }}"
                                                up-follow 
                                                up-target=".content">
                                                {{ appStrings[currentLang].knowMore }}
                                            </a>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="home-container-text col-sm-12 col-lg-6 order-1 order-sm-1 order-lg-2 mb-5 mb-lg-0">
                        <h3 class="part-title mb-4">{{ appStrings[currentLang].home.ourProjects }}</h3>
                        <p>{{ homePageModel.blockProjects }}</p>
                        <p class="mt-4">
                            <a class="btn btn-primary" 
                                href="{{projectsUrl}}"
                                up-follow 
                                up-target=".content">
                                {{ appStrings[currentLang].home.discoverProjects }}
                                <img class="ml-2" src="{{ assets.imageUrl('goto-arrow.svg') }}" width="17">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container home-container pt-150 pb-150">
        {% if partnersList is not empty %}
            <h3 class="part-title text-center mb-5">{{ appStrings[currentLang].etablissementsMembres }}</h3>
            <div id="partners-wrapper" class="row">
                {% for partners in partnersList %}
                    {% if partners is not null %}
                        <div class="col-6 col-md-2">
                            <a class="carte-actualite-lien scale-card-link"
                                href="{{ partners.url }}"
                                target="_blank"
                                alt="site web {{ partners.title }}"
                                data-toggle="tooltip" data-placement="top" title="{{ partners.title }}">
                                <div class="scale-card text-center d-flex">
                                    {% if partners.imageUrl %}
                                        <img class="carte-scale-image mx-auto my-auto img-fluid lazy" data-src="{{ partners.imageUrl }}" />
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                <div id="partners-anchor"></div>
            </div>
        {% endif %}
    </div>

    <div class="inscription-newsletter-wrapper home-container">
        <div class="inscription-newsletter-wrapper-color">
            <div class="inscription-newsletter">
                <h3 class="mt-0">{{ appStrings[currentLang].home.subscribeNewsletter }}</h3>
                <div>{{ homePageModel.newsletterText }}</div>
                <div class="mail-form mt-3">
                    <a href="{{site.url}}/{{ homePageModel.newsletterLink }}" class="btn">
                        {{ appStrings[currentLang].home.subscribeNewsletterAlt }}
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}