<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js no-svg ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js no-svg ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js no-svg ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js no-svg"  {{ site.language_attributes }}> <!--<![endif]-->
<head>
<title>
    {% if news.title %}
        {{ news.title }}
    {% else %}
        {{ titrePage }}
    {% endif %}
    |&nbsp;{{ siteTitle }}
</title>
<link rel="icon" href="{{ themeOptions.faviconImage }}" />
<meta charset="{{ site.charset }}" />
<meta name="description" content="{{ site.description }}" />
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="author" href="{{ site.theme.link }}/humans.txt" />
<link rel="pingback" href="{{ site.pingback_url }}" />
<link rel="profile" href="http://gmpg.org/xfn/11" />
<script>var metadataNoticeObject = {};</script>
<script src="{{ assets.getVendorUrl('jquery/jquery.min.js') }}"></script>
<script defer src="{{ assets.getVendorUrl('jquery-ui/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ assets.getVendorUrl('unpoly/unpoly.min.js') }}"></script>
<link rel="stylesheet" href="{{ assets.getVendorUrl('unpoly/unpoly.min.css') }}" />
<link rel="stylesheet" href="{{ assets.getVendorUrl('jstree/themes/default/style.min.css') }}" />
<script defer src="{{ assets.getVendorUrl('jstree/jstree.min.js') }}"></script>
<script defer type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
<link rel="stylesheet" href="{{ assets.getVendorUrl('owlcarousel/assets/owl.carousel.min.css') }}" />
<link rel="stylesheet" href="{{ assets.getVendorUrl('owlcarousel/assets/owl.theme.default.min.css') }}" />
<script type="text/javascript" src="{{ assets.getVendorUrl('owlcarousel/owl.carousel.min.js') }}"></script>
<link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ assets.getVendorUrl('ponyfill/css-vars-ponyfill.js') }}"></script>
{{ themeOptions.matomoScript }}
{{function('wp_head')}}
{% include 'custom-theme-options.twig' %}
