{% extends "base.twig" %}

{% block content %}
    <div class="content-text">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <h1>{{ appMessage[currentLang].actualites}}</h1>
                </div>
            </div>
            <div class="row">
                {% for news in newsList %}
                    {% if news is not null %}
                        <div class="col-md-4">
                            <a class="carte-actualite-lien" href="{{ news.newsUrl }}">
                                <div class="carte-actualite">
                                    <img class="carte-actualite-image lozad" 
                                        data-src="{{ news.imageUrl ? news.imageUrl : assets.imageUrl('news-default.svg') }}" />
                                    <div class="carte-actualite-texte">
                                        <h1>{{ news.title }}</h1>
                                    </div>
                                    <div class="carte-actualite-footer">
                                        <div class="carte-actualite-date-footer">
                                            {{ news.date }}
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% if newsCount > 1 %}
            {% set changePageUrl = site.link~"/liste-actualites/?pagination=" %}
            {% if newsPage <= 1 %}
                {% set prec = 1 %}
            {% else %}
                {% set prec = newsPage - 1 %}
            {% endif %}
            <div class="resultats-pagination container">
                <div class="row justify-content-center">
                    {% if ((newsCount/newsPerPage)|round(0, 'ceil') > 2) and newsPage > 1 %}
                        <div class="col-auto">
                            {% if newsPage > 2 %}
                                <a class="btn-svg" href="{{ changePageUrl }}1">
                                    <img src="{{ assets.imageUrl('first-page.svg') }}" width="14"> 
                                </a>
                            {% endif %}
                            <a class="btn-svg" href="{{ changePageUrl }}{{ prec }}">
                                <img src="{{ assets.imageUrl('previous.svg') }}" width="14"> 
                            </a>
                        </div>
                    {% endif %}
                    <div class="col-auto">
                        {% if (newsPage*newsPerPage) >= newsCount and newsPage - 2 > 0 %}
                            <a class="btn btn-primary resultats-pagination-box" href="{{ changePageUrl }}{{ newsPage - 2 }}">{{ newsPage - 2 }}</a>
                        {% endif %}
                        <!-- Page courante -->
                        {% if newsPage > 1 %}
                            <a class="btn btn-primary resultats-pagination-box" href="{{ changePageUrl }}{{ prec }}">{{ prec }}</a>
                        {% endif %}
                        <a class="btn btn-primary resultats-pagination-box-colored" href="{{ changePageUrl }}1">{{ newsPage }}</a>
                        <!-- Page suivante -->
                        {% if (newsPage*newsPerPage) < newsCount %}
                            <a class="btn btn-primary resultats-pagination-box" href="{{ changePageUrl }}{{ newsPage + 1 }}">{{ newsPage + 1 }}</a>
                        {% endif %}
                        <!-- Pages suivantes -->
                        {% if (newsPage*newsPerPage*2) < newsCount and newsPage == 1 %}
                            <a class="btn btn-primary resultats-pagination-box" href="{{ changePageUrl }}{{ newsPage + 2 }}">{{ newsPage + 2 }}</a>
                        {% endif %}
                    </div>
                    {% if ((newsCount/newsPerPage)|round(0, 'ceil') > 3) 
                        and (newsPage < (newsCount/newsPerPage)|round(0, 'ceil')) %}
                        <div class="col-auto">
                            <a class="btn-svg" href="{{ changePageUrl }}{{ newsPage + 1 }}">
                                <img src="{{ assets.imageUrl('next.svg') }}" width="14"> 
                            </a>
                            <a class="btn-svg" href="{{ changePageUrl }}{{ (newsCount/newsPerPage)|round(0, 'ceil') }}">
                                <img src="{{ assets.imageUrl('last-page.svg') }}" width="14"> 
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}