{% extends "base.twig" %}

{% block content %}

    <div class="wrapper">
    <div class="container content-text post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<h1 class="post-title">{{ post.post_title }}</h1>
        <p>{{ post.post_content }}</p>
        {% if subscribed %}
            <p>{{ appStrings[currentLang].newsletterValid }}</p>
        {% else %}
            <div class="mt-5">
                <form action="{{site.url}}/newsletter" method="post">
                    <div class="form-row">
                        <div class="col-12 col-md-5">
                            <div class="input-group mb-3">
                                <input type="text" name="email" placeholder="adresse@mail.com" class="form-control" />
                                <div class="input-group-append">
                                    <input type="submit" name="submit" class="btn btn-primary" value="S'inscrire">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}
