{% extends "base.twig" %}

{% block content %}
    <div class="container content-text">
        <div class="row mb-5">
            <div class="col">
                <h1>{{ post.post_title }}</h1>
                <br/>
                {{ post.post_content }}
            </div>
        </div>

		{% if editorial_children %}
            <div class="row">
                <div class="col">
                    <h3>{{ appMessage[currentLang].projectsList}}</h3>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-4 mt-5">
				{% for child in editorial_children %}
					<div class="col mb-4">
						<div class="card">
							<img src="{{ child.topImage.src|letterbox(400, 250, '#FFFFFF') }}" class="card-img-top" alt="{{ child.title }}">
							<div class="card-body">
								<h5 class="card-title">{{ child.title }}</h5>
								<p class="card-text">
									<a href="{{ child.link }}">{{ child.title }}</a>
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
    </div>
{% endblock %}