{% extends "base.twig" %}

{% block content %}
    <div class="content-text">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <h1 class="post-title">{{ post.post_title }}</h1>
                </div>
            </div>
            <div class="row">
                {% for partner in partnersList %}
                    {% if partner is not null %}
                        <div class="col-6 col-md-2">
                            <a href="{{ partner.url }}" 
                                target="_blank" 
                                alt="site web {{ partner.title }}"
                                data-toggle="tooltip" data-placement="top" title="{{ partner.title }}">
                                <div class="partner-card text-center d-flex">
                                    {% if partner.imageUrl %} 
                                        <img class="mx-auto my-auto img-fluid lozad" data-src="{{ partner.imageUrl }}" />
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                <div id="partners-anchor"></div>
            </div>
        </div>
    </div>
{% endblock %}