{% extends "base.twig" %}

{% block content %}
    <div class="container content-text">
        <div class="row">
            <div class="col">
                <h1 class="post-title">{{ post.post_title }}</h1>
                {{ post.content }}
            </div>
        </div>

		{% if project_children %}
            <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 mt-5">
				{% for child in project_children %}
					<div class="col mb-4">
						<a href="{{ child.link }}">
							<div class="card card-project">
								<img data-src="{{ child.topImage.src|letterbox(400, 250, '#FFFFFF') }}" class="card-img-top lozad" alt="{{ child.title }}">
								<div class="card-body">
									<h5 class="card-title m-0">{{ child.title }}</h5>
									<p class="card-text">
										{% if child.resume %}
											<p class="small">{{ child.resume }}</p>
										{% endif %}
										<a href="{{ child.link }}">{{ appStrings[currentLang].readMore }}</a>
									</p>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
    </div>
{% endblock %}