{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        <ul class="pagination">
            {% if pagination.pages|first and pagination.pages|first.current != true %}
                <li class="first btn">
                    <a href="{{ pagination.pages|first.link }}"
                        up-follow 
                        up-target=".content">
                        {{ appStrings[currentLang].pagination.first }}
                    </a>
                </li>
            {% else %}
                <li class="first btn disabled">
                    <button disabled>{{ appStrings[currentLang].pagination.first }}</button>
                </li>
            {% endif %}

            {% if pagination.prev %}
                <li class="prev btn">
                    <a href="{{ pagination.prev.link }}"
                        up-follow 
                        up-target=".content">
                        {{ appStrings[currentLang].pagination.previous }}
                    </a>
                </li>
            {% else %}
                <li class="prev btn disabled">
                    <button disabled>{{ appStrings[currentLang].pagination.previous }}</button>
                </li>
            {% endif %}

            {% for page in pagination.pages %}
                {% if page.link %}
                    <li>
                        <a href="{{ page.link }}" 
                            class="{{ page.class }}"
                            up-follow 
                            up-target=".content">
                            {{ page.title }}    
                        </a>
                    </li>
                {% else %}
                    <li class="current">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pagination.next %}
                <li class="next btn">
                    <a href="{{ pagination.next.link }}"
                        up-follow 
                        up-target=".content">
                        {{ appStrings[currentLang].pagination.next }}
                    </a>
                </li>
            {% else %}
                <li class="next btn disabled">
                    <button disabled>
                        {{ appStrings[currentLang].pagination.next }}
                    </button>
                </li>
            {% endif %}
            {% if pagination.pages|last and pagination.pages|last.current != true %}
                <li class="last btn">
                    <a href="{{ pagination.pages|last.link }}"
                        up-follow 
                        up-target=".content">
                        {{ appStrings[currentLang].pagination.last }}
                    </a>
                </li>
            {% else %}
                <li class="last btn disabled">
                    <button disabled>{{ appStrings[currentLang].pagination.last }}</button>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
